<div class="mt-2 flex animate-pulse rounded bg-white px-5 py-2 dark:bg-zinc-950">
    <div class="flex items-center justify-center">
        <div class="h-10 w-10 rounded-full bg-gray-200 dark:bg-zinc-800"></div>
        <div class="ml-2 h-4 w-28 rounded bg-gray-200 dark:bg-zinc-800"></div>
    </div>
</div>